.learn
    .container
        .row
            .col-lg-10.text-center
                p.learn__title LEARN
                h2
                    | Saving for college makes sense
                    br
                    |  wherever you are in life.
                p
                    | Parenting takes love and smarts. It shouldn&apos;t take a degree in economics to save for your child&rsquo;s education. That&rsquo;s where we come in.
