.learn{
    //background-color: aqua;
    padding-top: 2%;
    text-align: center;
    margin: auto;
    &__title{
        font-weight: bold;
    }
    .container{
        //width: 47%;
        padding-bottom: 3%;
        padding-top: 2%;
    }
    
}