.fsocial
        .fsocial__writing
            ul.fsocial__list
                li.fsocial__item 
                    span STAY CONNECTED:
                li.fsocial__item(style="border-right: 1px solid black;")
                    a(href="#") Contact Us
                li.fsocial__item
                    ul.fsocial__list(style="padding:20px 0px !important;")
                        li.fsocial__item 
                            span Follow Us
                        li.fsocial__item
                            a(href="#")
                                img(src="https://www.capitalgroup.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/linkedin.png", alt="Linkedin logo")
                        li.fsocial__item
                            a(href="#")
                                img(src="https://www.capitalgroup.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/twitter.png", alt="Twitter Logo")
                        li.fsocial__item
                            a(href="#")
                                img(src="https://www.capitalgroup.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/facebook.png", alt="Facebook Logo")
                        li.fsocial__item
                            a(href="#")
                                img(src="https://www.capitalgroup.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/youtube.png", alt="Youtube Logo")
                        li.fsocial__item
                            a(href="#")
                                img(src="https://www.capitalgroup.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/instagram.png", alt="Instagram logo")
            ul.fsocial__list
                li.fsocial__item
                    span ABOUT AMERICAN FUNDS:
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") Our Company
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") News
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") Security
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") Policies
                li.fsocial__item(style="border-right: 1px solid grey;")
                    a(href="#") Media Relations
                li.fsocial__item
                    a(href="#") Careers