.savings{
    text-align: center;
    padding: 7%;

    &__heading{
       // font-family: "AvenirNextLTCom-Demi";
        font-weight: bold;
        line-height: 1.371;
        padding-bottom: 4%;
        font-size: 38px
    }
    .lead{
        line-height: 1.7;
        box-sizing: border-box; 
        padding-bottom: 5%; 
        font-size: 20px;
    }
    &__link{
        font-weight: bold;
        border: 1px solid black;
        color: inherit;
        width: auto;
        text-decoration: none;
    }


}