.herobanner
    img.herobanner__image(src = "https://www.americanfunds.com/content/dam/cgc/shared-content/images/logos/logo-virginia.png" alt= "")
    .herobanner__contents  
        h1.herobanner__contents__h1  Can I put him through college without a mountain of debt?
        p.herobanner__contents__p
            | With CollegeAmerica® from Capital Group, the nation’s largest 529 education savings plan.
        h2.herobanner__contents__h2 I can.