.choose
    .row
        .col-lg-5.text-white.choose__one-col
            .container.py-auto.text-center
                p.lead
                     |CHOOSEl
                h3.choose__h3-tittle
                    b
                        | CollegeAmerica&nbsp;529 savings plan
                p.lead
                    | You trust your doctor with your health and your mechanic with your car. You shouldn&rsquo;t settle for anything less when you&rsquo;re deciding where to invest your money.
                p.lead
                    | Trusted by more than 1 million families nationwide,&nbsp;CollegeAmerica is the country&rsquo;s largest 529 savings plan,
                    sup 1
                    | &nbsp;with more than $60 billion invested.
                    sup 2
        .col-lg-6.col-md-12.col-sm-12.text-center.choose__second-col.py-5
            .container.choose__first-contain
                img.choose__rightcolumn__image(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/photos/Children-raising-hands-in-school-1.jpg" alt="leftCalculator")
                .container.choose__bottom-contain.text-left.py-5
                    
                    h3
                        b
                            | We&apos;re helping more than 2.3 million future students pursue their dreams.
                            sup 3
                    p.p1
                        |Any adult who's a U.S. citizen or legal resident can open a CollegeAmerica 529 savings plan, regardless of income.
                    hr    
                    p.p2
                        |The earnings in a 529 savings plan are exempt from federal taxes if withdrawals are used for qualified expenses. And some states offer tax benefits as well.
                    hr
                    p.p3
                        |CollegeAmerica has among the lowest fees in the industry.4
