extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="accordionpage.css")
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')

block pageTitle
    title Accordion Page

block content

    .content
        include ../../components/secondnav/secondnav.pug
        include ../../components/breadcrumb/breadcrumb.pug
        include ../../components/herobanner/herobanner.pug
        include ../../components/stickynav/stickynav.pug
        include ../../components/learnContent/learnContent.pug
        include ../../components/carousel/carousel.pug
        include ../../components/planContent/planContent.pug
        include ../../components/choose/choose.pug
        include ../../components/savingsContent/savingsContent.pug
        include ../../components/bottomArticle/bottomArticle.pug
        include ../../components/topfooter/topfooter.pug
        include ../../components/middlefooter/middlefooter.pug
        include ../../components/bottomfooter/bottomfooter.pug
        include ../../components/socialnav/socialnav.pug

block pageScripts
    script(src="accordionpage.js")