//- extends ../../layouts/defaultLayout.pug

//- block pageStyles
//-     link(rel="stylesheet", href="accordionpage.css")
//-     link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')

//- block pageTitle
//-     title Accordion Page

//- block content

   
//-     include ../../components/socialnav/socialnav.pug

//- block pageScripts
//-     script(src="accordionpage.js")