.topnav
    .topnav__left
        a.topnav__a.dropdown-toggle.layers(href='#' data-toggle='dropdown')
            span.other-site Other sites :
            span.site-type Individual Investors 
            span.arrow
            a.site-type Login 
            a.site-type  contact

        
