.bottomfooter
    .container
        .row
            .col-lg-5.container__col-one-left
                p.container__p-1
                    a(href='#') Copyright
                    |
                    |&nbsp;©&nbsp;2019 Capital Group. All rights reserved.
                p.container__p-2
                    |Securities offered through American Funds Distributors, Inc. 
                p.container__p-3
                    |&nbsp;
                img(src="https://cdn.betrad.com/pub/icon1.png" alt ="adChoiceImage")
                a(href='#') AdChoices 
               

            .col-lg-7
                ul.container__bottom-col-right.text-left
                    li.container__bottom-border-right
                      a(href='#') PRIVACY
                    li.container__bottom-border-right
                      a(href='#') Account Agreement
                    li.container__bottom-border-right
                      a(href='#') Business Continuity
                    li
                      a(href='#') Capital Group Worldwide 