.bottomfooter
    .container
        .row
            .col-lg-5.bottomfooter__col-left
                p.bottomfooter__col-left__p-1
                    a(href='#') Copyright
                    |
                    |&nbsp;©&nbsp;2019 Capital Group. All rights reserved.
                p.bottomfooter__col-left__p-2
                    |Securities offered through American Funds Distributors, Inc. 
                p.bottomfooter__col-left__p-3
                    |&nbsp;
                img(src="https://cdn.betrad.com/pub/icon1.png" alt ="adChoiceImage")
                a(href='#') AdChoices 
               

            .col-lg-7.bottomfooter__col-right
              ul.bottomfooter__col-right__ul.text-left
                li.bottomfooter__col-right__ul__li.bottomfooter__border-right
                  a(href='#') PRIVACY

                li.bottomfooter__col-right__ul__li.bottomfooter__border-right
                  a(href='#') Account Agreement

                li.bottomfooter__col-right__ul__li.bottomfooter__border-right
                  a(href='#') Business Continuity
                  
                li.bottomfooter__col-right__ul__li
                  a(href='#') Capital Group Worldwide 