.stickynav.sticky-top
    .container
        .row.text-white
              
            .col-4.stickynav__sn-one.text-center.py-5
                p.mb-0
                    b
                        | LEARN
                p.p1.d-none.d-md-block  Based on your life stage
            .col-4.stickynav__sn-two.text-center.py-5
                p.mb-0
                    b
                        | PLAN
                p.p2.d-none.d-md-block  Using our calculator
            .col-4.stickynav__sn-three.text-center.py-5
                
                p.mb-0   
                    b
                        | CHOOSE
                p.p3.d-none.d-md-block CollegeAmerica