.stickynav{
    overflow-x: hidden;
    .container{
        padding: 0px;
        max-width: 82%;
        a{
            font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
        } 
        
    }


    &__sn-one{
        height: 140px;
        background: #00AEAA;      
    }
    &__sn-one:hover{
        border-bottom: thick solid rgb(195, 188, 188);
      }

    &__sn-two  {
        height: 140px;
        background: #00294B;
    }
    &__sn-two:hover{
        border-bottom: thick solid rgb(195, 188, 188);
    }

    &__sn-three  {
    height: 140px;
    background: #0099E2;
    }
    &__sn-three:hover{
        border-bottom: thick solid rgb(195, 188, 188);
      }
    @media (max-width: 1000px){
        .container {
            max-width: 100%;
            
        }
    }
    
    @media  (max-width: 610px){
    
        &__sn-one{
            height:0px; 
            .p1{
                display: none;
                margin-top: -12px;
            }
        }
        &__sn-two{
            height: 0px;
            .p2{
                display: none;
                margin-top: -12px;
            }
        }
        &__sn-three{
            height: 0px;
            .p3{
                display: none;
                margin-top: -12px;
            }
        }
    }
    

}