  .column1{ 
    height: 140px;
    //height: auto;
    background: #00AEAA;
  
    }
    .column2{ 
    height: 140px;
    //height: auto;
    background: #00294B;
    }
    .column3{ 
    height: 140px;
    //height: auto;
    background: #0099E2;
    }
    
    .col {
      padding: 0px 0px 0px 0px !important;
    }
    
   .contain{
     padding: 0px 100px 0px 100px;
      li{
        .title{
          font-size: 18px;
          font-weight: bold;
          color: #fff !important;
        
        }
      a{
        font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
      } 
      a:hover{
        border-bottom: thick solid rgb(195, 188, 188);
      }

      }  
   }
        
    .subtitle{
      font-size: 13px;
      color: #fff !important;
    }
    .new{
      text-align: center;
      //align-items: center; :;
    }
    
    
    @media (min-width: 900px) {
     .contain{
      margin: 0px 62px 0px 62px;
    }
    }
    
    