.stickynav.sticky-top
    .container
        .row.text-white(style="margin:0;")
              
            .col-4.stickynav__sn-one.text-center.py-5
                p.mb-0
                    b
                        | LEARN
                p.stickynav__sn-one__p1.d-none.d-md-block  Based on your life stage
            .col-4.stickynav__sn-two.text-center.py-5
                p.mb-0
                    b
                        | PLAN
                p.stickynav__sn-two__p2.d-none.d-md-block  Using our calculator
            .col-4.stickynav__sn-three.text-center.py-5
                
                p.mb-0   
                    b
                        | CHOOSE
                p.stickynav__sn-three__p3.d-none.d-md-block CollegeAmerica