.plan{
    overflow: hidden;
    padding-bottom: 5%;
   // font-size: 20px; 
    

    &__main-left{
        padding-left: 10%;
        // padding-right: 0px;   
    }
   
    &__innercalc{
        // padding: 5%;

        &__calculator{
            width:80px;
            height: 70px;
        }
        &__col-left{
            border-right: 1px solid rgb(196, 196, 196);
            padding-right: 0px;   
        }

        &__col-right{
            padding-right: 0px;   
        }
        
        &__p{
            padding-top: 10%;
            font-size: 15px;
        }
        &__a{
            text-decoration: none;
            font-size: 17px;

        }

    }
    
   &__row-end{
    padding-left: 0px;
       &__image{
        // position: relative;
        // padding-left: 33px;
        // left: 349%
            width: fit-content;
            padding-top: 2%;
            padding-left: 60px;
            
       }
   } 


    @media (max-width:975px) {
        &__row-end{
            &__image{
                padding-top: 2%;
                width: inherit;
            }
        }
        &__main-left{
            text-align: center;
        }
        
    }
}
