.plan
    .row
        .col-lg-6.plan__main-left 
            .container
                p.lead
                    b   
                        | PLAN
                h2
                    | Your savings plan: Start now.
                p.lead
                    | You can do thi.justify-content-ends. We make it simple to figure out what,
                    | when and how much to save.
                p.lead
                    b
                        | Let’s do the math.   
                .plan__innercalc
                    .row.justify-content-start.text-left
                        .col-6.plan__innercalc__col-left
                            img.img-thumbnail(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png" alt="leftCalculator")
                            p.lead
                                |I want to see how much my savings can grow over time.
                            b
                                a(href="#") Go to the savings calculator &#8594
                 
                        .col-6.plan__innercalc__col-right
                            img.img-thumbnail(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png" alt="rightCalculator")
                            p.lead 
                                |I want to compare college costs and create a savings plan.
                            b
                                a(href="#") Go to the college calculator &#8594
        .col-lg-6.col-md-12.plan__row-end.pl-5
                
            img(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/father-walking-with-young-son.png" alt="leftCalculator")
                                