.socialnav
    ul
        li
            a.uparrow(href="") uparrow
                img(src = "../images/UpArrow.png" alt="",width="30px",height="30px")
        li
            a.feedback(href="") feedback
                img(src = "../images/Feedback.jpg" alt="",width="30px",height="30px")
        li
            a.maillogo(href="") maillogo
                img(src = "../images/MailLogo.jpg" alt="",width="30px",height="30px")
        li
            a.facebook(href="") facebook
                img(src="../images/FacebookLogo.png" alt="",width="30px",height="30px")
        li
            a.linkedin(href="") Linkedin
                img(src="../images/LinkedinLogo.png" alt="",width="30px",height="30px")
        li
            a.twitter(href="" ) twitter
                img(src="../images/TwitterLogo.png" alt="",width="30px",height="30px")