.slider{
    
    
    &__ol {
        position: relative;
        // display: inline-block;
        &__li{
            text-indent:0;
            width:200px;
            height: 40px;
            background-color: transparent;
            display: inline-block;

            &__a{
                color: black;
                font-size:1.33rem;
                text-decoration: none;
            }
            &__a:hover{
                border-bottom: 4px solid #b42573;
            }

        }
        
    }    
   
    .carousel-inner{
        width: 88%;
        padding-left: 10%;
    }
    &__tittle-mob{
        display: none;
    }
    &__tittle-desk{
        padding-bottom: 5%;
    }
    &__article{
        float: right;
        padding-bottom: 5%;
    }
    &__a{
        text-decoration: none;
        color: #0b72bb;
        font-size: 24px;
    }
}
    
    @media (max-width: 1024px) {
        .carousel .carousel-item {
          display: contents;
          margin-top: 50px;
          text-align: center;
        }
    
        .slider{

            &__ol{
               display: none;

             }
        
    
        
            &__article{
                padding:20%; 
            }
            &__tittle-mob{
                display: block;
                padding-bottom: 5%;
                padding-left: 5%
            }
            &__tittle-desk{
                display: none;
            }
            &__image {
              display: block;
              max-width: 500px;
              margin: 0 auto !important;
              padding-left:5%; 
            
            }
        }
}
