.jumbotron.img-fluid
  .container
    article.banner.col-md-7.py-4
      h1.title Can I put him through college without a mountain of debt?
      p.lead
        | With CollegeAmerica
        sup &reg;
        |  from Capital Group,
        br
        |  the nation&rsquo;s largest 529 education savings plan.
      p.title I can