.img-fluid{
background: url("https://www.americanfunds.com/content/dam/cgc/shared-content/images/banners/mother-holding-baby-cooing-with-aperture-banner-3.jpg") no-repeat; 
background-size: cover; 
background-position:right center;
background-repeat: no-repeat;
width: 100%;
max-height: fit-content;  
margin-bottom: 0px;
.title{
  font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
  font-size: 2rem;
  font-weight: 520;
  //color: black;
  
  }
}
.jumbotron {
padding-top: 5% !important;
padding-bottom: 10% !important;
  .container{
    padding-top: 7%;
  }
}


// //@media (max-width: 768px) { 
// //.img-fluid{
// //background: url("https://www.americanfunds.com/content/dam/cgc/shared-content/images/banners/mother-holding-baby-cooing-with-mobile-version.jpg") no-repeat; 
// //background-size: cover; 
// //background-position: center center;
// //padding-top: 40%;
// //}
// //}
// //
// //@media (max-width: 575.9px) {
// //.img-fluid{
// //background-image: url("https://www.americanfunds.com/content/dam/cgc/shared-content/images/banners/mother-holding-baby-cooing-banner-portrait.jpg") no-repeat !important;
// //background-position: center top;
// //margin-bottom: 0px;
// //}
// //.banner {
//  // background: rgba(255,255,255,.8);
//  // text-align: center;
//  // display: block;
//  // height: 200px;
//  // width: auto;
// //
// //}
// //
// //.title{
// //font-family: Avenir Next LT W01 Demi,Arial,sans-serif;
// //font-size: 18px;
// //font-weight: 500 !important;
//color: black !important;
// //
// //}
// //.lead{
//  // font-size: 14px !important;
// //}
// //}