section.footer-menu
    .d-none.d-lg-block(style="height: -webkit-fill-available;")  
        .footer-menu__column(style='margin-left: 10vw')
            h3 MY ACCOUNTS
            ul
                li
                    a(href='#') View Portfolio
                li
                    a(href='#') Postfolio Value History
                li
                    a(href='#') Statements &amp; Tax Forms
                li
                    a(href='#') Sign Up for Paperless Delivery of Documents
            
        .footer-menu__column
            h3 INVESTMENTS
            ul
                li
                    a(href='#') All American Funds
                li
                    a(href='#') Compare Jobs
                li
                    a(href='#') Prospectuses &amp; Annual Reports
                
        .footer-menu__column
            h3 INSIGHTS
            ul
                li
                    a(href='#') Investment Insights
                
        .footer-menu__column
            h3 PRODUCTS
            ul
                li
                    a(href='#') Traditional and Roth IRAs
                li
                    a(href='#') SIMPLE IRAs
                li
                    a(href='#') 401(k) Plans
                li
                    a(href='#') CollegeAmerica® 529 Plans
                li
                    a(href="#") Portfolio Series    

        .footer-menu__column
            h3 PLANNING
            ul
                li
                    a(href='#') Tools &amp; Calculators
                li
                    a(href='#') Investing Fundamentals
                li
                    a(href='#') Mutual Fund Basics
                li
                    a(href='#') Creating a Financial Plan
                li
                    a(href="#") Retirement Planning
                li
                    a(href='#') College Savings
                li
                    a(href="#") Market Fluctuations

        .footer-menu__column
            h3 SERVICE &amp; SUPPORT
            ul
                li
                    a(href='#') Forms
                li
                    a(href='#') Tax Center
                li
                    a(href='#') How to Use Your Account
                li
                    a(href='#') Changing Your Preferences
                li
                    a(href="#") Contact Us

    .d-lg-none(style="min-width : 100%")
        #accordionExample.accordion(itemscope)
            .card
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                            |  MY ACCOUNTS
                #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordionExample')
                        ul
                            li
                                a(href="")  View Portfolio
                            li
                                a(href="") Portfolio Value History
                            li
                                a(href="") Statements & Tax Forms
                            li
                                a(href="") Sign Up for Paperless Delivery of Documents
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                            |  INVESTMENTS
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                        ul
                            li
                                a(href="") All American Funds
                            li
                                a(href="") Compare Funds
                            li
                                a(href="") Prospectuses & Annual Reports
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                            |  INSIGHTS
                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                        ul
                            li
                                a(href="") Investment Insights
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                            |  PRODUCTS
                #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                    ul
                        li
                            a(href="") Traditional and Roth IRAs
                        li
                            a(href="") SIMPLE IRAs
                        li
                            a(href="") 401(k) Plans
                        li
                            a(href="") CollegeAmerica® 529 Plans
                        li
                            a(href="") Portfolio Series
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                            |  PLANNING
                #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
                        ul
                            li
                                a(href="") Tools & Calculators
                            li
                                a(href="") Investing Fundamentals
                            li
                                a(href="") Mutual Fund Basics
                            li
                                a(href="") Creating a Financial Plan
                            li
                                a(href="") Retirement Planning
                            li
                                a(href="") College Savings
                            li
                                a(href="") Market Fluctuations
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                            |  SERVICE & SUPPORT
                #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample')
                        ul
                            li    
                                a(href="") Forms
                            li
                                a(href="") Tax Center
                            li
                                a(href="") How to Use Your Account
                            li
                                a(href="") Changing Your Preferences
                            li
                                a(href="") Contact Us
                    

                        