doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description",content="Get an education in college planning and saving with information and tips to help fund your child’s future goals. ")
        block pageStyles
            link(rel="stylesheet", href="css/capital.css")
        block pageTitle
            title Default Page
    body
        
        block content
        
        block pageScripts
            script(src="js/capital.js")