extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="homepage.css")

block pageTitle
    title Home Page

block content
    include ../../components/topnav/topnavigation.pug
    include ../../components/jumbotron/herobanner.pug

   

block pageScripts
    script(src="homepage.js")


