extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="homepage.css")


block pageTitle
    title Home Page

block content
    include ../../components/mainnav/mainnav.pug
    include ../../components/breadcrumb/breadcrumb.pug
    include ../../components/herobanner/herobanner.pug
    include ../../components/stickynav/stickynav.pug
    include ../../components/learnContent/learnContent.pug
    include ../../components/carousel/carousel.pug
    include ../../components/planContent/planContent.pug
    include ../../components/chooseContent/chooseContent.pug
    include ../../components/savingsContent/savingsContent.pug
    include ../../components/bottomArticle/bottomArticle.pug
    include ../../components/topfooter/topfooter.pug
    include ../../components/middlefooter/middlefooter.pug
    include ../../components/bottomfooter/bottomfooter.pug
    include ../../components/socialnav/socialnav.pug



   

block pageScripts
    script(src="homepage.js")


