footer.topfoot
  .container
    .row
      .col-12
        
        ul.container__footer-top
          li.container__top-li
            b
              p STAY CONNECTED:
                
          li.container__top-li.container__border-right
            a(href='#') Contact Us
          li.container__top-li

            ul(style="padding: 0;width: 270px;")
              li.container__top-li
                  b
                      p Follow Us
              li.container__top-li
                img(src="https://www.americanfunds.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/linkedin.png" alt="")
              li.container__top-li
                img(src="https://www.americanfunds.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/twitter.png" alt="")
              li.container__top-li
                img(src="https://www.americanfunds.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/facebook.png" alt="")
              li.container__top-li
                img(src="https://www.americanfunds.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/youtube.png" alt="")
              li.container__top-li
                img(src="https://www.americanfunds.com/content/dam/Shared%20Content/Images/Web-Only%20Images/icons/instagram.png" alt="") 
      .col-12 
             
        ul.container__footer-bottom(style="width: 80%;")
          li.container__top-li
            b
              p ABOUT AMERICAN FUNDS:
          li.container__top-li.container__border-right
            a(href='#') Our Company
          li.container__top-li.container__border-right
            a(href='#') News
          li.container__top-li.container__border-right
            a(href='#') Security
          li.container__top-li.container__border-right
            a(href='#') Policies
          li.container__top-li.container__border-right
            a(href='#') Media Relations
          li.container__top-li
                a(href='#') Carrier