
.nav-link {
  color: black !important;
  font-weight: bold;
  font-size: 14px;
}
.mainnav {
  padding: 0;
  button {
    margin-right: 15px;
  }
  #navbarToggler {
    text-align: end;
    justify-content: flex-end;
  }
  
  li:hover {
    background-color: #009adf;
    color: white;
  }
  
  &__logo-image{
      padding-left: 15px;
    }

  
  &__items {
    margin-right: 30px;
  
    &__search {
      &__input {
        border: 0;
        border-bottom: 1px solid rgb(0, 0, 0);
        width: 210px;
      }
      // &__btn {
      //   width: 28px;
      //   height: 28px;
      &__image {
        width: 22px;
        height: 22px;
        // float: left;
        margin-right: 20px;
      }
    }
  } 
  @media (max-width: 767px) {
    
      &__items {
        margin: 0;
      
      text-align: center;
      &__search {
        padding-top: 60px;
        &__input::placeholder{
            color: transparent;
          }
        &__image{
          position: relative;
          left: -250px;
        }
      }
    }
  }

    @media (max-width: 1024px) and (min-width: 767px) {
      .navbar-nav {
        padding-top: 0px !important;
        max-width: 99% !important;
        //padding-bottom: 30px !important;
      }
      #navbarToggler {
        ul {
          width: 100%;
          position: absolute;
          justify-content: space-around;
          margin: 0;
          left: 8px;
          top: 87px;
          a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  
  .topnav {
    background-color: black;
    height: 24px;
    max-width: 100%;
    .col-lg-4.col-md-4,.left,ul,li,a {  
      height: inherit;
      margin: 0;
      padding: 0;
      
    }
    
    .col-lg-4.col-md-4 {
      a {
        padding: 10px 35px 10px 35px;
      }
    }
    .left {
      ul {
        display: flex;
        justify-content: flex-end;
      }
  
      background-color: black;
      li {
        width: 153px;
        text-align: center;
        border-left: 1px solid rgb(255, 255, 255);
        a {
          padding: 10px 45px 10px 45px;
        }
      }
    }
    a {
      color: white;
      font-size: 12px;
      font-weight: 500;
    }
    li:hover {
      background-color: #009adf;
    }
    .login {
      border-right: 1px solid white;
      background-color: #009adf;
    }
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
  @media (max-width: 767px) {
    .topnav {
      li {
        border: 1px solid white;
      }
      .col-lg-4.col-md-4 {
        text-align: center;
        padding: 0;
      }
      .left {
        ul {
          justify-content: center;
          li {
            width: 34%;
          }
        }
      }
    }
  }
  @media (min-width: 767px) {
    .lg-hide {
      display: none !important;
    }
    .lg-show {
      display: block !important;
    }
  }
  .navbar-nav {
    padding-top: 23px;
  }
  
  @media (max-width: 767px) {
    .sm-hide {
      display: none !important;
    }
    .sm-show {
      display: block !important;
    }
  }
  