.wrapper
    nav.navbar.navbar-expand-lg
    
        ul.navbar-nav.mr-auto
            li.nav-item
                img(src = "https://www.americanfunds.com/content/dam/cgc/shared-content/images/logos/cg-af-logo-200x89.png")
                    

        #navbarSupportedContent.search
            form.form-inline.my-2.my-lg-0
                ul.searchform
                    li.nav-item
                        input.form-control.shadow-none.mr-sm-2(type='search' placeholder="Enter a search term or ticker" aria-label='Search')
                    li.nav-item
                        img(src="https://www.americanfunds.com/apps/nextgen/docroot/images/new-assets/search.png", alt="searchIcon")
            ul.nav.justify-content-end
                li.nav-item
                    a.nav-link(href='#')
                        | MY ACCOUNTS
                li.nav-item
                    a.nav-link(href='#') INVESTMENTS
                li.nav-item
                    a.nav-link(href='#') INSIGHT
                li.nav-item
                    a.nav-link(href='#') PRODUCT
                li.nav-item.active
                    a.nav-link(href='#') PLANNING
                li.nav-item
                    a.nav-link(href='#') SERVICE & SUPPORT
                li.nav-item
                    a.nav-link(href='#') FORMS
            
    
